@model LNB.Models.PlayerPlay

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PlayerPlay</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PlayerId, "PlayerId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlayerId", String.Empty)
                @Html.ValidationMessageFor(model => model.PlayerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlayerPlayTypeId, "PlayerPlayTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlayerPlayTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.PlayerPlayTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GameId, "GameId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GameId", String.Empty)
                @Html.ValidationMessageFor(model => model.GameId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Minutes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Minutes)
                @Html.ValidationMessageFor(model => model.Minutes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Seconds, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Seconds)
                @Html.ValidationMessageFor(model => model.Seconds)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
