@model IEnumerable<LNB.Models.PlayerPlay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerPlayType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Minutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seconds)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game.GameId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerPlayType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Minutes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seconds)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayerPlayId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlayerPlayId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayerPlayId })
        </td>
    </tr>
}

</table>
