@model IEnumerable<LNB.Models.TeamPlay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamPlayType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Minutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seconds)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game.GameId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamPlayType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Minutes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seconds)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeamPlayId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeamPlayId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeamPlayId })
        </td>
    </tr>
}

</table>
